* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

body {
  background-color: #674baf;
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-height: 100vh;
  padding: 1rem 4.5rem;
}

header img {
  width: 13rem;
  height: auto;
  margin-bottom: 4rem;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1.3fr 1fr;
      grid-template: 1fr / 1.3fr 1fr;
  grid-gap: 3rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 4%;
}

p {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

a {
  text-decoration: none;
}

.image-mockup {
  width: 100%;
}

.text-section {
  margin-top: 10%;
}

.btn-register:link {
  display: inline-block;
  background-color: #fff;
  padding: 1rem 3rem;
  margin-top: 2rem;
  color: #674baf;
  border-radius: 200px;
  font-size: 1.1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-register:visited {
  display: inline-block;
  background-color: #fff;
  padding: 1rem 3rem;
  margin-top: 2rem;
  color: #674baf;
  border-radius: 200px;
  font-size: 1.1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-register:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-register:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.icon-link {
  height: 40px;
  width: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 1rem;
  color: #fff;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fb-link {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.fb-link:hover {
  color: #3b5998;
  border: 1px solid #3b5998;
}

.twitter-link {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.twitter-link:hover {
  color: #55acee;
  border: 1px solid #55acee;
}

.ig-link {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ig-link:hover {
  color: #fff;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  border: 1px solid #bc2a8d;
}

.attribution {
  text-align: center;
}

.attribution p {
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.attribution-link:link {
  color: #f7b7fd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.attribution-link:visited {
  color: #f7b7fd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.attribution-link:hover {
  color: #ec7616;
}

.attribution-link:active {
  color: #ec7616;
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .text-section {
    margin: 0;
  }
  .social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url(../images/bg-mobile.svg);
    background-size: auto;
    padding: 3rem 3rem;
  }
  main {
    display: block;
  }
  .text-section {
    text-align: center;
    margin: 4rem 0 5rem 0;
  }
  .social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */