* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background: #674baf;
  color: #fff;
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: -ms-grid;
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
}

/* Logo */
.logo {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-image {
  width: 150px;
}

/* Main */
.landing {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'hero hero heading-1' 'hero hero heading-2';
}

.hero {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: hero;
  margin-top: 40px;
}

.heading {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.heading .title {
  margin-top: -10px;
  margin-right: 100px;
  font-size: 3rem;
}

.heading .caption {
  margin-top: -200px;
  margin-right: 100px;
}

.heading .button {
  background-color: #fff;
  border: none;
  color: #674baf;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: -110px;
  margin-bottom: 100px;
  cursor: pointer;
  width: 150px;
  border-radius: 50px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.heading .button:hover {
  -webkit-box-shadow: 0 0 20px rgba(238, 238, 238, 0.2);
          box-shadow: 0 0 20px rgba(238, 238, 238, 0.2);
}

.heading-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: heading-1;
}

.heading-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: heading-2;
}

a {
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  line-height: 2.2rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .social-media i {
  margin-left: 16px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.footer .social-media i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .container {
    max-width: 1024px;
  }
  .hero img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heading .title {
    margin-left: 15px;
    margin: 50px auto;
    font-size: 2.5rem;
  }
  .heading .caption {
    margin-left: 15px;
    margin: -30px auto;
  }
  .heading .button {
    margin-top: 50px;
  }
  .footer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer .social-media i {
    margin-top: 210px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    background-image: url("../images/bg-mobile.svg");
  }
  .container {
    max-width: 375px;
  }
  .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing {
        grid-template-areas: "hero" "heading-1" "heading-2";
  }
  .hero img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heading .title {
    margin: 50px auto;
    font-size: 3rem;
    text-align: left;
  }
  .heading .caption {
    margin: -32px auto;
  }
  .heading .button {
    margin-top: 60px;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */