* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background: #674baf;
  color: #fff;
  background-image: url('../images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
}

/* Logo */
.logo {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 150px;
}

/* Main */
.landing {
  display: grid;
  grid-template-areas: 
    'hero hero heading-1'
    'hero hero heading-2';
}

.hero {
  grid-area: hero;
  margin-top: 40px;
}

.heading {
  display: grid;
  justify-content: start;
  align-content: center;
}

.heading-1 {
  grid-area: heading-1;
}

.heading-2 {
  grid-area: heading-2;
}

.heading .title {
  margin-top: -10px;
  margin-right: 100px;
  font-size: 3rem;
}

.heading .caption {
  margin-top: -200px;
  margin-right: 100px;
}

/* Button */
a {
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  line-height: 2.2rem;
}

.heading .button {
  background-color: #fff; /* Green */
  border: none;
  color: #674baf;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: -110px;
  margin-bottom: 100px;
  cursor: pointer;
  width: 150px;
  border-radius: 50px;
  transition: all .5s ease;
}

.heading .button:hover {
  box-shadow: 0 0 20px rgb(238, 238, 238, .2);
}

/* Social */
.footer {
  display: flex;
  justify-content: flex-end;
}

.footer .social-media i {
  margin-left: 16px;
  cursor: pointer;
  transition: all .5s ease;
}

.footer .social-media i:hover {
  transform: scale(1.2);
}

/* Responsive Breakpoint */
@media(max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .container {
    max-width: 1024px;
  }

  /* Main */
  .hero img {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
  }

  .heading .title,
  .heading .caption {
    margin-left: 15px;
  }

  .heading .title {
    margin: 50px auto;
    font-size: 2.5rem;
  }
  
  .heading .caption {
    margin: -30px auto;
  }

  /* Button */
  .heading .button {
    margin-top: 50px;
  }

  /* Footer */
  .footer {
    justify-content: flex-end;
  }

  .footer .social-media i {
    margin-top: 210px;
    transition: all .5s ease;
  }
}

@media(max-width: 768px) {
  body {
    overflow-x: hidden;
    background-image: url('../images/bg-mobile.svg');
  }

  .container {
    max-width: 375px;
  }

  /* Logo */
  .logo {
    justify-content: center;
  }

  /* Main */
  .landing {
    grid-template-areas: 
      'hero'
      'heading-1'
      'heading-2';
  }

  .hero img {
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
  }

  .heading .title {
    margin: 50px auto;
    font-size: 3rem;
    text-align: left;
  }
  
  .heading .caption {
    margin: -32px auto;
  }

  /* Button */
  .heading .button {
    margin-top: 60px;
  }

  /* Footer */
  .footer {
    justify-content: center;
  }
}