* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: hsl(0, 0%, 100%);
}

body {
	background-color: hsl(257, 40%, 49%);
	background-image: url(../images/bg-desktop.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	max-height: 100vh;
	padding: 1rem 4.5rem;
}

// Logo
header {
	img {
		width: 13rem;
		height: auto;
		margin-bottom: 4rem;
	}
}

// Main
main {
	display: grid;
	grid-template: 1fr / 1.3fr 1fr;
	grid-gap: 3rem;
	margin-bottom: 1.5rem;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 2.4rem;
	font-weight: 700;
	margin-bottom: 4%;
}

p {
	font-size: 1.1rem;
	line-height: 1.7rem;
}

a {
	text-decoration: none;
}

.image-mockup {
	width: 100%;
}

.text-section {
	margin-top: 10%;
}

// Button
.btn-register {
	&:link {
		display: inline-block;
		background-color: #fff;
		padding: 1rem 3rem;
		margin-top: 2rem;
		color: hsl(257, 40%, 49%);
		border-radius: 200px;
		font-size: 1.1rem;
		transition: 0.4s;
	}

	&:visited {
		display: inline-block;
		background-color: #fff;
		padding: 1rem 3rem;
		margin-top: 2rem;
		color: hsl(257, 40%, 49%);
		border-radius: 200px;
		font-size: 1.1rem;
		transition: 0.4s;
	}

	&:hover {
		transform: scale(1.1);
	}

	&:active {
		transform: scale(1.1);
	}
}

// Footer
.icon-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.icon-link {
	height: 40px;
	width: 40px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-left: 1rem;
	color: #fff;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fb-link {
	transition: all 0.4s ease;
	&:hover {
		color: #3b5998;
		border: 1px solid #3b5998;
	}
}

.twitter-link {
	transition: all 0.4s ease;
	&:hover {
		color: #55acee;
		border: 1px solid #55acee;
	}
}

.ig-link {
	transition: all 0.4s ease;
	&:hover {
		color: #fff;
		background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
		background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
		background-clip: text;
		border: 1px solid #bc2a8d;
	}
}

.attribution {
	text-align: center;
	p {
		font-size: 0.8rem;
		line-height: 1.3rem;
	}
}

.attribution-link {
	&:link {
		color: rgb(247, 183, 253);
		transition: 0.2s;
	}
	&:visited {
		color: rgb(247, 183, 253);
		transition: 0.2s;
	}
	&:hover {
		color: #ec7616;
	}
	&:active {
		color: #ec7616;
	}
}

// Responsive Breakpoint
@media (max-width: 1024px) {
	html {
		font-size: 14px;
	}

  // Main
	.text-section {
		margin: 0;
	}

	.social-links {
		justify-content: center;
		margin-bottom: 1.5rem;
	}
}

@media (max-width: 768px) {
	body {
		background-image: url(../images/bg-mobile.svg);
		background-size: auto;
		padding: 3rem 3rem;
	}

  // Main
	main {
		display: block;
	}

	.text-section {
		text-align: center;
		margin: 4rem 0 5rem 0;
	}

  // Footer
	.social-links {
		justify-content: center;
		margin-bottom: 1.5rem;
	}
}
